
body{
	color:rosybrown;
	font-family:copperplate;

}

.dropcap {
	font-family: cursive;
	color: saddlebrown;
}

.wicked { color: darkolivegreen; }

body {
    background: pink;
}

@media only screen and (max-width: 812px) { 
    body {
        background: beige;
    }
}